//Profile config names for nf-core/configs
params
{
  config_profile_description = 'Northwestern University Quest HPC (Genomics Nodes) config provided by nf-core/configs'
  config_profile_contact = 'Rogan Grant / Janna Nugent (@RoganGrant, @NUjon)'
  config_profile_url = 'https://www.it.northwestern.edu/research/user-services/quest/'
  max_memory = 160.GB
  max_cpus = 36
  max_time = 48.h
  igenomes_base = "/projects/genomicsshare/AWS_iGenomes/references"
}


singularity {
    enabled = true
    autoMounts = true
}


process
{
  beforeScript = 'module purge; module load singularity/latest; module load graphviz/2.40.1'
  executor = 'slurm'
  queue = 'genomics'
  clusterOptions = '-A b1042'
  withName:MapReads {
    memory = 110.GB
    time = 4.h
  }
  withName:MarkDuplicates {
    memory = 64.GB
    cpus = 16
    time = 24.h
  }
  withName:BamQC {
    memory = 80.GB
    cpus = 16
    time = 3.h
  }
  withLabel:FastQC {
    memory = 5.GB
    cpus = 2
    time = 3.h
  }
  withName:NFCORE_SAREK:SAREK:PREPARE_RECALIBRATION:BASERECALIBRATOR {
    memory = 4.GB
    time = 20.m
  }
}

executor
{
  submitRateLimit = '1sec'
}

